.App{
  padding: 0;
  padding-bottom: 0.1px;
   min-height: 100vh;
   min-width: 100vw;
   text-align: center;
   background: #07252d;
   background-repeat:no-repeat;
   background-attachment: fixed;
   background-size:cover;
}

@media (max-width: 640px){
  .App{
     padding-top: 0.1px;
     background-repeat:no-repeat;
     background-attachment:fixed;
     background-size:cover;
    margin: 0;
    padding-bottom: 0.1px;

  }
}