.normalFooter {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', sans-serif;
    font-size: 20px;
    background-color: #0e3742;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    position: absolute;
    bottom: 0;
    gap: 5em
  }
  .normalFooter > * {
    flex: 1 1 auto;
    text-align: center;
}
  .boton {
    border: 1px solid #03e9f4;
    border-radius: 50%;
    background: none;
    background-color: #03e9f4;
}

.boton:hover {
    cursor: pointer;
    border: 1px solid black;
    color: #03e9f4;
    background-color: #17181c;
    transform: scale(1.08);
    transition: 0.2s ease-in;
    
}

.img {
    padding-top: 5px;
    width: 35px;

}


 
.text{

   
    font-size: 17px;
    letter-spacing: 2px;
    color: #0e3742;
    text-transform: uppercase;
   
    text-align: center;
 
    line-height: 0.70em;
    outline: none;
    animation: animate 6s linear infinite;
    z-index: 2;
    pointer-events: none;
  
  }
  
  
  @keyframes animate{
  
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
  
        color: #fff;
  
        text-shadow: none;
  
    }
  
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%{
  
        color: #fff;
  
        text-shadow: 0 0 10px #03bcf4,
  
        0 0 20px #03bcf4,
  
        0 0 40px #03bcf4,
  
        0 0 80px #03bcf4,
  
        0 0 160px #03bcf4;
  
    }
  
  }

  
  @media screen and (max-width: 750px) {
    .normalFooter {
        padding-top: 2em;
        flex-direction: column;
        height: auto;
        margin-bottom: 0;
        gap: 1em;
        position: relative;
    }

  
}
  
