.buttonNumber {
    background-color: #164563;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 30px;
    height: 30px;
    margin: 0px 1px 0px 1px;
    transition: 0.2s all;
    border: none;
    line-height: 0.70em;
    outline: none;
    animation: animate 6s linear infinite;
    z-index: 2;
    
  }


  
  
  @keyframes animate{
  
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
  
        color: #fff;
  
        text-shadow: none;
  
    }
  
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%{
  
        color: #fff;
  
        text-shadow: 0 0 10px #03bcf4,
  
        0 0 20px #03bcf4,
  
        0 0 40px #03bcf4,
  
        0 0 80px #03bcf4,
  
        0 0 160px #03bcf4;
  
    }
  
  }

  
  .buttonNumber:hover {
    border: 2px solid #03bcf4;
   color: #03bcf4;
   background-color: #0c2636;
   cursor: pointer;
   -webkit-box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
   -moz-box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
   box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
   transition: 0.2s ease-in;
    
  }
  
  @media only screen and (max-width: 600px) {
    .buttonNumber {
      font-size: 12px;
      padding: 5px 10px;
      margin-bottom: 5px;
    }
  }
  
  .pagination {
    display: flex;
    justify-content: center;
  }
  
  .pagination_button {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    border: 2px solid;
    border-color: #03e9f4;
    color: white;
    background-color: #164563;
  }
  .pagination_button:hover {
    border-color: #03e9f4;
    color: black;
    background-color: #03e9f4;
    transition: all 0.5s;
    box-shadow: 0px 0px 25px #03e9f4;
  }
  
  .disable {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    border: 2px solid;
    border-color: rgb(104, 104, 104);
    color: rgb(0, 0, 0);
    background-color: rgb(104, 104, 104);
  }
  
 